extends ../layout

block content
  section#page-title(
    style="background-image: url('/images/headers/header-userszone.jpg'); padding: 120px 0;" 
    data-bottom-top="background-position:0px 300px;" 
    data-top-bottom="background-position:0px -300px;"
  )
      .container.clearfix
      h1= title
      span We are here to answer all your questions about us or our services.

  section#content.my-5
    .container.cleanfix
      .row
        .col-md-4

        .col-md-8
