block footer
  footer#footer
    .container
      .row
        .col-md-4.text-center.text-md-left
          img(
            src="/imagenes/colnodo-logo.png" 
            alt="Colnodo" 
            class="footer-logo"
          )  
          address
            strong Headquarters:
            br
            | 1144 45 Street SW
            br
            | Calgary, AB Canada
            br
            |T2H 4E3 
            
        .col-md-4.text-left  
          strong Phone: (1) 345 22 33 22
          br
          strong Fax: (1) 345 33 22 33
          br
          strong Email: 
            a(href='mailto:info@yourdomain.com') info@yourdomain.com       
         
        .col-md-4.text-md-left
          span Follow us
          a() Facebook
          a() Instagram
          a() Twitter
          a() Youtube