ul.list-group
    li.list-group-item
        a(data-toggle="collapse", href="#services") Services
        #services.panel-collapse.collapse
            ul.list-group
                li.list-group-item
                    a(href="/services/table-services") All Services
                li.list-group-item
                    a(href="/services/add-service") Add New Service

    li.list-group-item
        a(data-toggle="collapse", href="#courses") Courses
        #courses.panel-collapse.collapse
            ul.list-group
                li.list-group-item
                    a(href="/courses/table-courses") All Courses
                li.list-group-item
                    a(href="/courses/add-course") Add New Course

    li.list-group-item
        a(data-toggle="collapse", href="#posts") News
        #posts.panel-collapse.collapse
            ul.list-group
                li.list-group-item
                    a(href="/posts/table-posts") All posts
                li.list-group-item
                    a(href="/posts/add-post") New post
        
    li.list-group-item
        a(data-toggle="collapse", href="#faqs") FAQs
        #faqs.panel-collapse.collapse
            ul.list-group
                li.list-group-item
                    a(href="/faqs/table-faqs") All FAQs
                li.list-group-item
                    a(href="/faqs/add-faq") New FAQ

    li.list-group-item
        a(data-toggle="collapse", href="#contacts") Contacts
        #contacts.panel-collapse.collapse
            ul.list-group
                li.list-group-item
                  a(href="/contact-us/table-contacts") All Contacts